:root{
    --navbar-color:rgb(240, 149, 195);
}
body{
    font-family: sans-serif;
}

.navigation{
    background-color: var(--navbar-color);
    padding:1rem;
}
.header-nav{
    border-bottom-left-radius: 2rem;
}
.footer-nav{
    border-top-right-radius: 2rem;
}

.list-unordered{
    list-style: none;
}
.list-item{
    display:inline;
    padding:0rem 0.5rem;
}
.header-list{
    text-align: right;
}
.footer-list{
    text-align: center;
    padding-inline-start: 0px;
}
.footer-heading{
    text-align:center;
}

#name{
    font-size: larger;
}

.image{
    max-width: 20rem;
}

.section{
    text-align:center;
    margin:2rem;
}