:root{
    --navbar-color:rgb(240, 149, 195);
    --ow-color:rgb(251, 217, 234);
}
body{
    font-family: sans-serif;
}

.navigation{
    background-color: var(--navbar-color);
    padding:1rem;
}
.header-nav{
    border-bottom-left-radius: 2rem;
}
.footer-nav{
    border-top-right-radius: 2rem;
}

.list-unordered{
    list-style: none;
    padding-inline-start: 0px;
}
.list-item{
    display:inline;
    padding:0rem 0.5rem;
}
.header-list{
    text-align: right;
}
.footer-list{
    text-align: center;
}
.footer-heading{
    text-align:center;
}

#name{
    font-size: x-large;
}

.image{
    max-width: 20rem;
}

.section{
    text-align:center;
    margin:2rem;
    max-height: 20rem;
    padding:0.5rem;
}
.ow{
    background-color: var(--ow-color);
}

.table{
    margin:auto;
    text-align:left;
}
.table-heading{
    padding: 0.5rem;
}
.table-data{
    padding:0.5rem;
}
.sh{
    text-align:right;
}

.para{
    padding:0.5rem;
}


.link{
    text-decoration: none;
    color:black;
    font-size: large;
    margin:1rem;
    padding:0.3rem;
}
.active-link{
    font-weight: bolder;
}
.projects-link{
    font-size: x-large;
    /* background-color: var(--ow-color); */
    border-radius: 0.8rem;
    box-shadow: 0.3rem 0.3rem 0.15rem black;
}
.blogs-link{
    border: 0.1rem solid var(--ow-color);
    border-radius:0.8rem;
    box-shadow: 0.3rem 0.3rem 0.15rem black;
}
section a:hover{
    background-color: var(--ow-color);
    font-size: xx-large;
}


.icon{
    width: 2em;
    margin-right: .5rem;
}

.project-div{
    margin:auto;
    padding:1rem;
    text-align:center;
    width:30%;
}

.linkk{
    text-decoration: none;
    color: black;
    font-size: medium;
}
.btnn{
    background-color: var(--navbar-color);
    size: 1rem;
    padding:0.5rem;
    border-radius: 0.3rem;
}